{% load i18n %}

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module{% if app.app_url in request.path %} current-app{% endif %}">
            <ul class="list-group">
                <caption>
                    <a href="{{ app.app_url }}" class="form-label"
                       title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}">{{ app.name }}</a>
                </caption>
                {% for model in app.models %}
                    <li class="list-group-item model-
                            {{ model.object_name|lower }}{% if model.admin_url in request.path %} current-model{% endif %}">
                        {% if model.admin_url %}
                            <a class="form-label" href="{{ model.admin_url }}"{% if model.admin_url in request.path %}
                               aria-current="page"{% endif %}>{{ model.name }}</a>
                        {% else %}
                            <span class="form-label">{{ model.name }}</span>
                        {% endif %}

                        {% if model.add_url %}
                            <a href="{{ model.add_url }}" class="addlink float-right">{% translate 'Add' %}</a>
                        {% else %}
                            <span></span>
                        {% endif %}

                        {% if model.admin_url and show_changelinks %}
                            {% if model.view_only %}
                                <a href="{{ model.admin_url }}" class="viewlink float-right">{% translate 'View' %}</a>
                            {% else %}
                                <a href="{{ model.admin_url }}" class="changelink float-right">{% translate 'Change' %}</a>
                            {% endif %}
                        {% elif show_changelinks %}
                            <span></span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% else %}
    <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}
