{% load i18n static %}
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-md-2 mr-0" href="#">AlgoBuilder</a>
    <!-- Site Menu -->
    <div class="col-md-7">
        <div class="btn-group">
            <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Price Data
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/pricedata/">Run Batch</a>
                <a class="dropdown-item" href="/pricedata/metrics/">Metrics</a>
                <a class="dropdown-item" href="/pricedata/quality">Quality</a>
                <a class="dropdown-item" href="/pricedata/candles">Candles</a>
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="btn-group">
                <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/admin/auth/">Authentication</a>
                    <a class="dropdown-item" href="/admin/django_celery_beat/periodictask/">Tasks</a>
                    <a class="dropdown-item" href="/admin/plugin">Plugins</a>
                    <a class="dropdown-item" href="/admin/pricedata">Price Data</a>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="navbar-text col-md-2">
        {% block welcome-msg %}
            {% translate 'Welcome,' %}
            <strong>{% firstof user.get_short_name user.get_username %}</strong>
        {% endblock welcome-msg %}
    </div>
    <div class="col-md-1">
        {% block usertools %}
            {% if has_permission %}

                {% block userlinks %}
                    <div class="btn-group">
                        <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            User
                        </button>
                        <div class="dropdown-menu">
                            {% if user.is_active and user.is_staff %}
                                {% url 'django-admindocs-docroot' as docsroot %}
                                {% if docsroot %}
                                    <a class="dropdown-item" href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
                                {% endif %}
                            {% endif %}
                            {% if user.has_usable_password %}
                                <a class="dropdown-item" href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>
                        </div>
                    </div>
                {% endblock userlinks %}
            {% endif %}
        {% endblock usertools %}
    </div>
</nav>